.do-button {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    position: fixed;
    left: 50px;
    bottom: 40px;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo-app {  
    width: 100%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    margin: 100px auto 20px;
    padding: 30px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 15px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    font-size: 14px;
}

button {
    border: none;
    outline: none;
    padding: 12px 40px;
    background: #733fe3;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 14px;
    padding: 8px 8px 8px 40px;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border: none;
    background-color: white;
    border-radius: 10px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 6px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}
